@page
@model DAB_NoSQL_assignment.UserFeedModel
@{
    ViewData["Title"] = "User Feed";
}

Velkommen til userfeed. Under denne tekst er alle brugerne i databasen angivet for at gøre det nemmere<br/>
at teste dette view<br/>

<table>
    <tr>
        <th>UserId</th>
        <th>User</th>
        <th>Gender</th>
        <th>Age</th>
    </tr>

    @foreach (var user in @Model.UserList)
    {
        <tr>
            <td>@user.Id</td>
            <td>@user.Name</td>
            <td>@user.Gender</td>
            <td>@user.Age</td>
        </tr>
    }
</table>
<br/>
Under seeding er der allerede brugere som følger hinanden. Det forholder sig således:<br/>
Peter følger Pernille. Han har blacklistet Pernille og Rune.<br/>
Signe følger Peter og Pernille <br />
Rune følger Peter og Pernille <br />
Kamilla følger Pernille <br />
Pernille følger Kamilla og Peter. Hun har blacklisted Signe, Rune og Kamilla<br />

<br/>
Under seeding er der oprettet følgende lister:<br/>
Circle 1: Peter og Signe. Peter er ejer af cirklen.<br/>
Circle 2: Peter, Kamilla og Pernille. Pernille er ejer af cirklen.<br/>
<br/>

Ved at indtaste navnet på en given bruger, vises brugerens feed.

<br />
<div class="row">
    <div class="col-md-6">
        <form method="post">
            <h5>Show the feed for a selected user.</h5>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="Input.searchString" class="form-control" placeholder="ex. Josef" />
                <span asp-validation-for="Input.searchString" class="text-danger"></span>
            </div>
            <hr />
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>
</div>

@if (Model._postlist != null)
{
    @foreach (var post in @Model._postlist)
    {
        <table id="PostSection">
            <tr>
                <th>PostOwner Name</th>
                <th>Text</th>
                <th>TimeStamp</th>
            </tr>
            <tr>
                <td>@Model.UserList.Find(user => user.Id == post.PostOwnerID).Name</td> 
                <td>@post.Text</td>
                <td>@post.TimeStamp</td>
            </tr>
            <tr>
                <th>Commenters:</th>
                <th>Comments:</th>
                <th>TimeStamp:</th>
            </tr>
            @if (post.Comments != null)
            {
                @foreach (var comment in post.Comments)
                {
                    <tr>
                        <td>@comment.Writer_userName</td>
                        <td>@comment.Text</td>
                        <td>@comment.TimeStamp</td>
                    </tr>
                }
            }
        </table>
        <br />
        <br />
    }
}