@page
@model DAB_NoSQL_assignment.AddtocircleModel
@{
    ViewData["Title"] = "Add users to circle";
}

<h1>Add users to circle</h1>
<br />
<form method="post">
    <div class="form-group">
        <label asp-for="MbrName"></label>
        <input asp-for="MbrName" class="form-control" />
        <span asp-validation-for="MbrName" class="text-danger"></span>
    </div>
    <div class="row">
        <div class="col-md-6">

            @if (Model.circleList != null)
            {

                @foreach (var circle in @Model.circleList)
                {
                    <table>
                        <tr>
                            <th>Circle Id</th>
                            <th>Circle Owner</th>
                        </tr>
                        <tr>
                            <td>@circle.Id</td>
                            <td>@circle.ForUser</td>
                        </tr>
                        <tr>
                            <th>Members: </th>
                            <th>
                                Add member:
                                <button type="submit" class="btn btn-primary" asp-page-handler="AddMember"
                                        asp-route-id="@circle.Id">
                                    Add
                                </button>

                            </th>
                        </tr>
                        @if (circle.Members != null)
                        {
                            @foreach (var member in circle.Members)
                            {
                                <tr>
                                    <td>@member</td>
                                    <td>@Model.getmbrname(member)</td>
                                </tr>
                            }
                        }
                    </table>
                    <br />
                    <br />
                }


            }

    </div>
</div>
</form>
