@page
@model DAB_NoSQL_assignment.WallModel
@{
    ViewData["Title"] = "Wall Page";
}

<h1>Wall</h1>

View the users wall
<br />
<div class="row">
    <div class="col-md-6">
        <form method="post">
            <h5>Select User and Guest.</h5>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="Input.searchUser" class="form-control" placeholder="ex. Josef" />
                <span asp-validation-for="Input.searchUser" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Input.searchGuest" class="form-control" placeholder="ex. Josef" />
                <span asp-validation-for="Input.searchGuest" class="text-danger"></span>
            </div>
            <hr />
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>
</div>



@if (Model._postlist != null)
{
    @foreach (var post in @Model._postlist)
     {
         <table id="PostSection">
             <tr>
                 <th>PostOwner</th>
                 <th>Text</th>
             </tr>
             <tr>
                 <td>@post.PostOwner</td>
                 <td>@post.Text</td>
             </tr>
             <tr>
                 <th>Commenters:</th>
                 <th>Comments:</th>
             </tr>
             @if (post.Comments != null)
             {
                 @foreach (var comment in post.Comments)
                  {
                      <tr>
                          <td>@comment.Writer_userName</td>
                          <td>@comment.Text</td>
                      </tr>
                  }
             }
         </table>
         <br />
         <br />
     }
}